* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: black;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef;
}

.how {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(2.jpg ) no-repeat ;
    
    background-size: contain;
    background-position: center;
    
    background-position: right;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-con {
    color: cadetblue;
    max-width: 600px;
}

.home-con h4 {
    color: cadetblue;
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-con h4 span {
    
    color: #0ef;
    
}

.home-con h3:nth-of-type(2) {
    
    margin-bottom: 30px;
    animation: sildeTop 1s ease forwards;
    animation-delay: .7s;
}

.home-con h1 {
    color: black;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-con p {
    color: cadetblue;
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}

.home-sci a:hover {
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;

}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}




@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.op{
    background-color:burlywood;
    justify-content: center;
    border-radius: 100px;
    color: #ededed;
    font-family: 'Times New Roman', Times, serif;
    height: 55px;
    font-size: 46px;
}
.ab{
    
    font-family: 'Times New Roman', Times, serif;
    height: 500px;
   
    margin-left: 40px;
    text-align: center;
    color: #000;
}
div .pa{
    font-size: 23px;
    margin-top: 20px;
    margin-left: 0px;
    color:black;
font-style: italic;
    text-align: center;
   line-height: 40px;
    
    width: 500px;
    
}
#Contact{
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
}
#Contact h1{
    font-family: 'Times New Roman', Times, serif;

    color: wheat;
    text-align: center;
    margin-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

#send{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#send:hover{
cursor: pointer;
box-shadow: 0 0 10px blue;
}
